body {
background-color: rgb(125, 182, 102) ;
} 

#container {
    background-color: rgb(17, 63, 48);
    border: rgb(16, 15, 15);
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
}

p {
    color: rgb(195, 179, 55);
    font-size: 24px;
    font-family:monospace; 
}

#input {
    width: 100px;
    margin: 25px auto;
}

#button {
    margin: 25px auto auto 5px; 
}